---
http_interactions:
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByProduct&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&productId=5019327018&productId.@type=ReferenceID
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '155285000'
      X-Ebay-Soa-Request-Id:
      - 170d52a7-8710-a867-1e81-3461fccb876d
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsByProduct
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsByProductResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-13T18:31:35.437Z"],"searchResult":[{"@count":"0"}],"paginationOutput":[{"pageNumber":["0"],"entriesPerPage":["100"],"totalPages":["0"],"totalEntries":["0"]}],"itemSearchURL":["https:\/\/www.ebay.com\/sch\/?_ddo=1&_ipg=100&_pgn=1&_productid=5019327018"]}]}'
  recorded_at: Fri, 13 Mar 2020 18:31:35 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsAdvanced&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&keywords=iphone
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '879234300'
      X-Ebay-Soa-Request-Id:
      - 170d52a7-b3a0-a4d0-afe3-3fb3ffd38047
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsAdvanced
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsAdvancedResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-13T18:31:36.869Z"],"searchResult":[{"@count":"100","item":[{"itemId":["254187579586"],"title":["Apple
        iPhone X 64GB Factory Unlocked Smartphone"],"globalId":["EBAY-US"],"subtitle":["FREE
        2 DAY SHIPPING ** 90 DAY WARRANTY!!!!"],"primaryCategory":[{"categoryId":["9355"],"categoryName":["Cell
        Phones & Smartphones"]}],"galleryURL":["https:\/\/thumbs3.ebaystatic.com\/pict\/254187579586404000000002_2.jpg"],"viewItemURL":["https:\/\/www.ebay.com\/itm\/Apple-iPhone-X-64GB-Factory-Unlocked-Smartphone-\/254187579586?var=553554795419"],"paymentMethod":["PayPal"],"autoPay":["true"],"postalCode":["111**"],"location":["Astoria,NY,USA"],"country":["US"],"shippingInfo":[{"shippingServiceCost":[{"@currencyId":"USD","__value__":"0.0"}],"shippingType":["Free"],"shipToLocations":["Worldwide"],"expeditedShipping":["true"],"oneDayShippingAvailable":["false"],"handlingTime":["1"]}],"sellingStatus":[{"currentPrice":[{"@currencyId":"USD","__value__":"379.99"}],"convertedCurrentPrice":[{"@currencyId":"USD","__value__":"379.99"}],"sellingState":["Active"],"timeLeft":["P20DT21H55M9S"]}],"listingInfo":[{"bestOfferEnabled":["false"],"buyItNowAvailable":["false"],"startTime":["2019-04-03T16:26:45.000Z"],"endTime":["2020-04-03T16:26:45.000Z"],"listingType":["FixedPrice"],"gift":["false"],"watchCount":["1344"]}],"returnsAccepted":["true"],"condition":[{"conditionId":["2500"],"conditionDisplayName":["Seller
        refurbished"]}],"isMultiVariationListing":["true"],"discountPriceInfo":[{"originalRetailPrice":[{"@currencyId":"USD","__value__":"999.99"}],"pricingTreatment":["STP"],"soldOnEbay":["false"],"soldOffEbay":["false"]}],"topRatedListing":["true"]},{"itemId":["254187579586"],"title":["Apple
        iPhone X 64GB Factory Unlocked Smartphone"],"globalId":["EBAY-US"],"subtitle":["FREE
        2 DAY SHIPPING ** 90 DAY WARRANTY!!!!"],"primaryCategory":[{"categoryId":["9355"],"categoryName":["Cell
        Phones & Smartphones"]}],"galleryURL":["https:\/\/thumbs3.ebaystatic.com\/pict\/254187579586404000000001_2.jpg"],"viewItemURL":["https:\/\/www.ebay.com\/itm\/Apple-iPhone-X-64GB-Factory-Unlocked-Smartphone-\/254187579586?var=553554795[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByCategory&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&categoryId=10181
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '276890200'
      X-Ebay-Soa-Request-Id:
      - 170d52a8-1610-aa47-0856-4e66fd69149f
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsByCategory
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsByCategoryResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-13T18:31:37.850Z"],"searchResult":[{"@count":"100","item":[{"itemId":["201026035740"],"title":["Professional
        Alto Eb Saxophone Sax Gold w\/ Case Mouthpiece & Accessories"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["16231"],"categoryName":["Saxophones"]}],"galleryURL":["https:\/\/thumbs1.ebaystatic.com\/m\/me6mOXDY7uI7inz84QJMmDA\/140.jpg"],"viewItemURL":["https:\/\/www.ebay.com\/itm\/Professional-Alto-Eb-Saxoph[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByKeywords&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&keywords=iphone
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '1032096600'
      X-Ebay-Soa-Request-Id:
      - 170d52a8-5810-aa16-f250-7d50ff73afba
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsByKeywords
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsByKeywordsResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-13T18:31:39.656Z"],"searchResult":[{"@count":"100","item":[{"itemId":["254187579586"],"title":["Apple
        iPhone X 64GB Factory Unlocked Smartphone"],"globalId":["EBAY-US"],"subtitle":["FREE
        2 DAY SHIPPING ** 90 DAY WARRANTY!!!!"],"primaryCategory":[{"categoryId":["9355"],"categoryName":["Cell
        Phones & Smartphones"]}],"galleryURL":["https:\/\/thumbs3.ebaystatic.com\/pict\/254187579586404000000002_2.jpg"],"viewItem[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=getVersion&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '6235300'
      X-Ebay-Soa-Request-Id:
      - 170d52a8-c780-a860-ae92-cd02fd2ec11b!FindingService!10.134.10.233!v3apifindingcore[]
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getVersion
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-svcs
    body:
      encoding: UTF-8
      string: '{"getVersionResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-13T18:31:40.408Z"]}]}'
  recorded_at: Fri, 13 Mar 2020 18:31:40 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findCompletedItems&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&keywords=iphone
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '222540500'
      X-Ebay-Soa-Request-Id:
      - 170d52a8-eda0-a994-24a7-ff57fed672d7!FindingService!10.153.66.74!v3apifindingcore[!FindItemServiceNextGen!10.153.66.74!v3apifindingcore[]]
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findCompletedItems
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-svcs
    body:
      encoding: UTF-8
      string: '{"findCompletedItemsResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-13T18:31:41.237Z"],"searchResult":[{"@count":"99","item":[{"itemId":["402016291293"],"title":["Speck
        iPhone XS Max Case"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["20349"],"categoryName":["Cases,
        Covers & Skins"]}],"galleryURL":["https:\/\/thumbs2.ebaystatic.com\/m\/mt5JRILAuEoT1YRVgcQtzjQ\/140.jpg"],"viewItemURL":["https:\/\/www.ebay.com\/itm\/Speck-iPhone-XS-Max-Case-\/402016291293"],"paymentMethod":[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsIneBayStores&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&storeName=Store
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '29893000'
      X-Ebay-Soa-Request-Id:
      - 170d52a9-2b90-a9cb-ebc6-bb66fdf73cf9!FindingService!10.156.190.188!v3apifindingcore[]
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsIneBayStores
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-svcs
    body:
      encoding: UTF-8
      string: '{"findItemsIneBayStoresResponse":[{"ack":["Failure"],"errorMessage":[{"error":[{"errorId":["5"],"domain":["Marketplace"],"severity":["Error"],"category":["Request"],"message":["Invalid
        store name."],"subdomain":["Search"],"parameter":["Store"]}]}],"version":["1.13.0"],"timestamp":["2020-03-13T18:31:42.040Z"]}]}'
  recorded_at: Fri, 13 Mar 2020 18:31:42 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=getHistograms&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&categoryId=11233
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '402933400'
      X-Ebay-Soa-Request-Id:
      - 170d52a9-5130-a9c4-f2b3-30a3ffebb4d3!FindingService!10.156.79.43!v3apifindingcore[!FindingRecommendationService!10.156.79.43!v3apifindingcore[]!FindItemServiceNextGen!10.156.79.43!v3apifindingcore[]]
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getHistograms
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-svcs
    body:
      encoding: UTF-8
      string: '{"getHistogramsResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-13T18:31:43.017Z"],"categoryHistogramContainer":[{"categoryHistogram":[{"categoryId":["11233"],"categoryName":["Music"],"count":["17983527"],"childCategoryHistogram":[{"categoryId":["176984"],"categoryName":["CDs"],"count":["10126587"]},{"categoryId":["176985"],"categoryName":["Records"],"count":["6738238"]},{"categoryId":["176983"],"categoryName":["Cassettes"],"count":["400896"]},{"categoryId":["618"],"categoryName":["Other
        Formats"],"count":["122928"]},{"categoryId":["31608"],"categoryName":["Wholesale
        Lots"],"count":["25374"]},{"categoryId":["52473"],"categoryName":["Storage
        & Media Accessories"],"count":["21057"]}]}]}],"conditionHistogramContainer":[{"conditionHistogram":[{"condition":[{"conditionId":["1000"],"conditionDisplayName":["Brand
        New"]}],"count":["6802569"]},{"condition":[{"conditionId":["3000"]}],"count":["5269479"]},{"condition":[{"conditionId":["4000"],"conditionDisplayName":["Very
        Good"]}],"count":["3682972"]},{"condition":[{"conditionId":["2750"],"conditionDisplayName":["Like
        New"]}],"count":["1177529"]},{"condition":[{"conditionId":["5000"],"conditionDisplayName":["Good"]}],"count":["853013"]},{"condition":[{"conditionId":["6000"],"conditionDisplayName":["Acceptable"]}],"count":["184799"]},{"condition":[{"conditionId":["1500"]}],"count":["291"]},{"condition":[{"conditionId":["2500"]}],"count":["4"]},{"condition":[{"conditionId":["7000"]}],"count":["2"]},{"condition":[{"conditionId":["1750"]}],"count":["2"]}]}]}]}'
  recorded_at: Fri, 13 Mar 2020 18:31:43 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=getSearchKeywordsRecommendation&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&keywords=acordian
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '21475100'
      X-Ebay-Soa-Request-Id:
      - 170d52a9-9280-a86b-c8a0-dc30fcc49156
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getSearchKeywordsRecommendation
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getSearchKeywordsRecommendationResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-13T18:31:43.687Z"],"keywords":["accordion"]}]}'
  recorded_at: Fri, 13 Mar 2020 18:31:43 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsIneBayStores&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&storeName=shopspell
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '18658500'
      X-Ebay-Soa-Request-Id:
      - 170d5303-5100-a4e8-e103-c793ffd3a337
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsIneBayStores
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsIneBayStoresResponse":[{"ack":["Failure"],"errorMessage":[{"error":[{"errorId":["5"],"domain":["Marketplace"],"severity":["Error"],"category":["Request"],"message":["Invalid
        store name."],"subdomain":["Search"],"parameter":["shopspell"]}]}],"version":["1.13.0"],"timestamp":["2020-03-13T18:37:51.263Z"]}]}'
  recorded_at: Fri, 13 Mar 2020 18:37:51 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsIneBayStores&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&storeName=1028024771
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '33501600'
      X-Ebay-Soa-Request-Id:
      - 170d5317-f370-a9e4-2b90-27f0fff584c2!FindingService!10.158.66.185!v3apifindingcore[]
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsIneBayStores
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-svcs
    body:
      encoding: UTF-8
      string: '{"findItemsIneBayStoresResponse":[{"ack":["Failure"],"errorMessage":[{"error":[{"errorId":["5"],"domain":["Marketplace"],"severity":["Error"],"category":["Request"],"message":["Invalid
        store name."],"subdomain":["Search"],"parameter":["1028024771"]}]}],"version":["1.13.0"],"timestamp":["2020-03-13T18:39:15.798Z"]}]}'
  recorded_at: Fri, 13 Mar 2020 18:39:15 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsIneBayStores&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&storeName=conveyordeals
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '26536700'
      X-Ebay-Soa-Request-Id:
      - 170d532f-bcc0-abc1-82f5-6ba5fdcc04b7!FindingService!10.188.24.47!v3apifindingcore[]
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsIneBayStores
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-svcs
    body:
      encoding: UTF-8
      string: '{"findItemsIneBayStoresResponse":[{"ack":["Failure"],"errorMessage":[{"error":[{"errorId":["5"],"domain":["Marketplace"],"severity":["Error"],"category":["Request"],"message":["Invalid
        store name."],"subdomain":["Search"],"parameter":["conveyordeals"]}]}],"version":["1.13.0"],"timestamp":["2020-03-13T18:40:53.227Z"]}]}'
  recorded_at: Fri, 13 Mar 2020 18:40:53 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsIneBayStores&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&storeName=shopsell365
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '49313100'
      X-Ebay-Soa-Request-Id:
      - 170d5340-da20-aafa-a463-7153ffd4f8c8
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsIneBayStores
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsIneBayStoresResponse":[{"ack":["Failure"],"errorMessage":[{"error":[{"errorId":["5"],"domain":["Marketplace"],"severity":["Error"],"category":["Request"],"message":["Invalid
        store name."],"subdomain":["Search"],"parameter":["shopsell365"]}]}],"version":["1.13.0"],"timestamp":["2020-03-13T18:42:03.345Z"]}]}'
  recorded_at: Fri, 13 Mar 2020 18:42:03 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsIneBayStores&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&storeName=shop%20sell%20365
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '224273300'
      X-Ebay-Soa-Request-Id:
      - 170d5348-89b0-ada5-eb03-5bb3ffda6125!FindingService!10.218.94[...]
