---
http_interactions:
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?GLOBAL-ID=EBAY-US&OPERATION-NAME=findItemsByKeywords&keywords=ernesto+laclau
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EBAY-SOA-SECURITY-APPNAME:
      - APP_ID
  response:
    status:
      code: 200
      message:
    headers:
      X-EBAY-SOA-SERVICE-METRICS:
      - '50345688'
      X-EBAY-SOA-REQUEST-ID:
      - 145ed3a1-e060-a471-d300-04c0ffffe565!FindingService!10.71.29.48!v3apifindingsandboxcore[!FindItemServiceNextGen!10.71.29.48!v3apifindingsandboxcore[]]
      X-EBAY-SOA-SERVICE-VERSION:
      - 1.12.0
      X-EBAY-SOA-LOCALE-LIST:
      - en-US_US
      X-EBAY-SOA-MESSAGE-PROTOCOL:
      - NONE
      X-EBAY-SOA-RESPONSE-DATA-FORMAT:
      - XML
      X-EBAY-SOA-GLOBAL-ID:
      - EBAY-US
      X-EBAY-SOA-OPERATION-NAME:
      - findItemsByKeywords
      X-EBAY-SOA-SERVICE-NAME:
      - "{https://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><findItemsByKeywordsResponse xmlns="https://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.12.0</version><timestamp>2014-05-11T21:39:40.213Z</timestamp><searchResult
        count="3"><item><itemId>110108016161</itemId><title>Emancipation(s) By Laclau,
        Ernesto</title><globalId>EBAY-US</globalId><subtitle>Always Save with UnbeatableSale!</subtitle><primaryCategory><categoryId>2228</categoryId><categoryName>Textbooks,
        Education</categoryName></primaryCategory><viewItemURL>https://cgi.sandbox.ebay.com/Emancipation-s-Laclau-Ernesto-/110108016161</viewItemURL><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><postalCode>08701</postalCode><location>Lakewood,NJ,USA</location><country>US</country><shippingInfo><shippingServiceCost
        currencyId="USD">0.0</shippingServiceCost><shippingType>Free</shippingType><shipToLocations>US</shipToLocations><expeditedShipping>false</expeditedShipping><oneDayShippingAvailable>false</oneDayShippingAvailable><handlingTime>4</handlingTime></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">16.39</currentPrice><convertedCurrentPrice currencyId="USD">16.39</convertedCurrentPrice><sellingState>Active</sellingState><timeLeft>P24DT21H37M11S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2012-10-13T19:11:51.000Z</startTime><endTime>2014-06-05T19:16:51.000Z</endTime><listingType>FixedPrice</listingType><gift>false</gift></listingInfo><returnsAccepted>true</returnsAccepted><condition><conditionId>1000</conditionId><conditionDisplayName>Brand
        New</conditionDisplayName></condition><isMultiVariationListing>false</isMultiVariationListing><discountPriceInfo><originalRetailPrice
        currencyId="USD">20.48</originalRetailPrice><pricingTreatment>STP</pricingTreatment><soldOnEbay>false</soldOnEbay><soldOffEbay>false</soldOffEbay></discountPriceInfo><topRatedListing>false</topRatedListing></item><item><itemId>110108016439</itemId><title>On
        Populist Reason By Laclau, Ernesto</title><globalId>EBAY-US</globalId><subtitle>Always
        Save with UnbeatableSale!</subtitle><primaryCategory><categoryId>2228</categoryId><categoryName>Textbooks,
        Education</categoryName></primaryCategory><viewItemURL>https://cgi.sandbox.ebay.com/Populist-Reason-Laclau-Ernesto-/110108016439</viewItemURL><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><pos[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?GLOBAL-ID=EBAY-US&OPERATION-NAME=findItemsByKeywords&RESPONSEENCODING=JSON&keywords=ernesto+laclau
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EBAY-SOA-SECURITY-APPNAME:
      - APP_ID
  response:
    status:
      code: 200
      message:
    headers:
      X-EBAY-SOA-SERVICE-METRICS:
      - '42677594'
      X-EBAY-SOA-REQUEST-ID:
      - 145ed3a2-2120-a471-d312-7542[...]
