---
http_interactions:
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsIneBayStores&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&storeName=Laura_Chen%27s_Small_Store
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '20704500'
      X-Ebay-Soa-Request-Id:
      - 170ea124-aca0-ac72-a385-7035ffff5427
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsIneBayStores
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsIneBayStoresResponse":[{"ack":["Failure"],"errorMessage":[{"error":[{"errorId":["5"],"domain":["Marketplace"],"severity":["Error"],"category":["Request"],"message":["Invalid
        store name."],"subdomain":["Search"],"parameter":["Laura_Chen''s_Small_Store"]}]}],"version":["1.13.0"],"timestamp":["2020-03-17T19:57:12.282Z"]}]}'
  recorded_at: Tue, 17 Mar 2020 19:57:12 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=getSearchKeywordsRecommendation&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&keywords=acordian
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '17933300'
      X-Ebay-Soa-Request-Id:
      - 170ea124-d1c0-ac72-a385-7035ffff5426
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getSearchKeywordsRecommendation
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getSearchKeywordsRecommendationResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-17T19:57:12.875Z"],"keywords":["accordion"]}]}'
  recorded_at: Tue, 17 Mar 2020 19:57:12 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByKeywords&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&keywords=iphone&paginationInput.entriesPerPage=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '110399900'
      X-Ebay-Soa-Request-Id:
      - 170ea124-f8e0-ac79-7491-0f91ffff3668
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsByKeywords
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsByKeywordsResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-17T19:57:13.595Z"],"searchResult":[{"@count":"1","item":[{"itemId":["110510331166"],"title":["Apple
        iPhone 3GS - 32GB - White (Cricket) A1303 (GSM)"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["177601"],"categoryName":["eBay
        Special Offer 1"]}],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Apple-iPhone-3GS-32GB-White-Cricket-A1303-GSM-\/110510331166"],"paymentMethod":["PayPal"],"autoPay":["true"],"postalCode":["277**"],"location":["Durham,NC,USA"],"country":["US"],"shippingInfo":[{"shippingServiceCost":[{"@currencyId":"USD","__value__":"15.0"}],"shippingType":["Flat"],"shipToLocations":["Worldwide"],"expeditedShipping":["true"],"oneDayShippingAvailable":["false"],"handlingTime":["2"]}],"sellingStatus":[{"currentPrice":[{"@currencyId":"USD","__value__":"56.99"}],"convertedCurrentPrice":[{"@currencyId":"USD","__value__":"56.99"}],"sellingState":["Active"],"timeLeft":["P23DT22H12M35S"]}],"listingInfo":[{"bestOfferEnabled":["true"],"buyItNowAvailable":["false"],"startTime":["2020-03-10T18:09:48.000Z"],"endTime":["2020-04-10T18:09:48.000Z"],"listingType":["FixedPrice"],"gift":["false"]}],"returnsAccepted":["true"],"isMultiVariationListing":["false"],"topRatedListing":["false"]}]}],"paginationOutput":[{"pageNumber":["1"],"entriesPerPage":["1"],"totalPages":["760"],"totalEntries":["760"]}],"itemSearchURL":["https:\/\/shop.sandbox.ebay.com\/i.html?_nkw=iphone&_ddo=1&_ipg=1&_pgn=1"]}]}'
  recorded_at: Tue, 17 Mar 2020 19:57:13 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByProduct&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&productId=53039031&productId.@type=ReferenceID
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '231065300'
      X-Ebay-Soa-Request-Id:
      - 170ea125-23d0-ac7a-a707-7fb7ffff3d3b
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsByProduct
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsByProductResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-17T19:57:14.408Z"],"searchResult":[{"@count":"0"}],"paginationOutput":[{"pageNumber":["0"],"entriesPerPage":["100"],"totalPages":["0"],"totalEntries":["0"]}],"itemSearchURL":["https:\/\/shop.sandbox.ebay.com?_ddo=1&_ipg=100&_pgn=1&_productid=53039031"]}]}'
  recorded_at: Tue, 17 Mar 2020 19:57:14 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=getHistograms&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&categoryId=11233
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '128498200'
      X-Ebay-Soa-Request-Id:
      - 170ea125-5440-ac71-0735-82b5ffff9251
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getHistograms
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getHistogramsResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-17T19:57:15.089Z"],"categoryHistogramContainer":[{"categoryHistogram":[{"categoryId":["11233"],"categoryName":["Music"],"count":["31"],"childCategoryHistogram":[{"categoryId":["176984"],"categoryName":["CDs"],"count":["24"]},{"categoryId":["176985"],"categoryName":["Records"],"count":["6"]},{"categoryId":["618"],"categoryName":["Other
        Formats"],"count":["1"]}]}]}],"conditionHistogramContainer":[{"conditionHistogram":[{"condition":[{"conditionId":["1000"],"conditionDisplayName":["Brand
        New"]}],"count":["19"]},{"condition":[{"conditionId":["2750"],"conditionDisplayName":["Like
        New"]}],"count":["9"]},{"condition":[{"conditionId":["4000"],"conditionDisplayName":["Very
        Good"]}],"count":["2"]},{"condition":[{"conditionId":["6000"],"conditionDisplayName":["Acceptable"]}],"count":["1"]}]}]}]}'
  recorded_at: Tue, 17 Mar 2020 19:57:15 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByKeywords&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&keywords=iphone
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '354278900'
      X-Ebay-Soa-Request-Id:
      - 170ea125-8140-ac71-0643-0d83ffff8449
      X-Ebay-Soa-Service-Version:
    [...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findCompletedItems&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&keywords=iphone
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '167339400'
      X-Ebay-Soa-Request-Id:
      - 170ea125-c6f0-ac7a-a707-7fb7ffff3d3a
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findCompletedItems
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findCompletedItemsResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-17T19:57:16.939Z"],"searchResult":[{"@count":"10","item":[{"itemId":["110478145353"],"title":["Apple
        Verizon iPhone 6s (64GB) 64GB Gold A1688 MKT12LL\/A +A Grade + Warranty!"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["9355"],"categoryName":["Cell
        Phones & Smartphones"]}],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Apple-Verizon-iPhone-6s-64GB-64GB-Gold-A1688-MKT12LL-A-A-Grade-Warranty-\/11047814535[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsAdvanced&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&keywords=iphone
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '411530800'
      X-Ebay-Soa-Request-Id:
      - 170ea125-f6d0-ac79-7491-0f91ffff3667
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsAdvanced
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsAdvancedResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-17T19:57:17.970Z"],"searchResult":[{"@count":"100","item":[{"itemId":["110510331166"],"title":["Apple
        iPhone 3GS - 32GB - White (Cricket) A1303 (GSM)"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["177601"],"categoryName":["eBay
        Special Offer 1"]}],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Apple-iPhone-3GS-32GB-White-Cricket-A1303-GSM-\/110510331166"],"paymentMethod":["PayPal"],"autoPay":["true"],"po[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByCategory&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID&categoryId=10181
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '138222100'
      X-Ebay-Soa-Request-Id:
      - 170ea126-3ef0-ac72-a385-7035ffff5425
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsByCategory
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsByCategoryResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-17T19:57:18.844Z"],"searchResult":[{"@count":"1","item":[{"itemId":["110510314407"],"title":["Mendini
        by Cecilio Premium Grade Closed Hole C Flute"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["10183"],"categoryName":["Flutes"]}],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Mendini-Cecilio-Premium-Grade-Closed-Hole-C-Flute-\/110510314407"],"paymentMethod":["VisaMC","AmEx","Discover"],"autoPay":["false"],"posta[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=getVersion&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '4784600'
      X-Ebay-Soa-Request-Id:
      - 170ea126-6df0-ac7a-a707-7fb7ffff3d39
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getVersion
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getVersionResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-17T19:57:19.455Z"]}]}'
  recorded_at: Tue, 17 Mar 2020 19:57:19 GMT
recorded_with: VCR 5.1.0
