---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsIneBayStores&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: '{"storeName":"Laura_Chen''s_Small_Store"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '15893900'
      X-Ebay-Soa-Request-Id:
      - 170e3c6a-34c0-ac7a-a707-7fb7ffff52cd
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsIneBayStores
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsIneBayStoresResponse":[{"ack":["Failure"],"errorMessage":[{"error":[{"errorId":["5"],"domain":["Marketplace"],"severity":["Error"],"category":["Request"],"message":["Invalid
        store name."],"subdomain":["Search"],"parameter":["Laura_Chen''s_Small_Store"]}]}],"version":["1.13.0"],"timestamp":["2020-03-16T14:36:50.908Z"]}]}'
  recorded_at: Mon, 16 Mar 2020 14:36:50 GMT
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByProduct&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: '{"productId":"53039031","productId.@type":"ReferenceID"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '6318300'
      X-Ebay-Soa-Request-Id:
      - 170e3c6a-f430-ac7a-a707-7fb7ffff52cc
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsByProduct
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsByProductResponse":[{"ack":["Failure"],"errorMessage":[{"error":[{"errorId":["4"],"domain":["Marketplace"],"severity":["Error"],"category":["Request"],"message":["Product
        ID is required."],"subdomain":["Search"]}]}],"version":["1.13.0"],"timestamp":["2020-03-16T14:36:53.955Z"]}]}'
  recorded_at: Mon, 16 Mar 2020 14:36:54 GMT
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findCompletedItems&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: '{"keywords":"iphone"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '177292200'
      X-Ebay-Soa-Request-Id:
      - 170e3c6f-3700-ac7a-a707-7fb7ffff52cb
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findCompletedItems
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findCompletedItemsResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-16T14:37:11.580Z"],"searchResult":[{"@count":"10","item":[{"itemId":["110478145353"],"title":["Apple
        Verizon iPhone 6s (64GB) 64GB Gold A1688 MKT12LL\/A +A Grade + Warranty!"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["9355"],"categoryName":["Cell
        Phones & Smartphones"]}],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Apple-Verizon-iPhone-6s-64GB-64GB-Gold-A1688-MKT12LL-A-A-Grade-Warranty-\/110478145353"],"paymentMethod":["PayPal"],"autoPay":["false"],"postalCode":["452**"],"location":["Cincinnati,OH,USA"],"country":["US"],"shippingInfo":[{"shippingServiceCost":[{"@currencyId":"USD","__value__":"0.0"}],"shippingType":["Free"],"shipToLocations":["Worldwide"],"expeditedShipping":["true"],"oneDayShippingAvailable":["true"],"handlingTime":["1"]}],"sellingStatus":[{"currentPrice":[{"@currencyId":"USD","__value__":"140.0"}],"convertedCurrentPrice":[{"@currencyId":"USD","__value__":"140.0"}],"sellingState":["EndedWithoutSales"]}],"listingInfo":[{"bestOfferEnabled":["true"],"buyItNowAvailable":["false"],"startTime":["2019-11-26T07:20:27.000Z"],"endTime":["2020-01-27T17:04:36.000Z"],"listingType":["FixedPrice"],"gift":["false"]}],"returnsAccepted":["true"],"condition":[{"conditionId":["3000"],"conditionDisplayName":["Used"]}],"isMultiVariationListing":["false"],"topRatedListing":["false"]},{"itemId":["110446675651"],"title":["Apple
        iPhone 5 - 64GB - Black & Slate (AT&T) A1428 (GSM)"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["9355"],"categoryName":["Cell
        Phones & Smartphones"]}],"galleryURL":["https:\/\/thumbs4.sandbox.ebaystatic.com\/pict\/1104466756514040_0.jpg"],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Apple-iPhone-5-64GB-Black-Slate-AT-T-A1428-GSM-\/110446675651"],"productId":[{"@type":"ReferenceID","__value__":"117321475"}],"paymentMethod":["PayPal"],"autoPay":["false"],"postalCode":["981**"],"location":["Seattle,WA,USA"],"country":["US"],"shippingInfo":[{"shippingServiceCost":[{"@currencyId":"USD","__value__":"10.0"}],"shippingType":["Flat"],"shipToLocations":["Worldwid[...]
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=getVersion&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '5138300'
      X-Ebay-Soa-Request-Id:
      - 170e3c6f-65e0-ac79-7491-0f91ffff4c23
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getVersion
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getVersionResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-16T14:37:12.174Z"]}]}'
  recorded_at: Mon, 16 Mar 2020 14:37:12 GMT
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=getSearchKeywordsRecommendation&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: '{"keywords":"acordian"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '57149200'
      X-Ebay-Soa-Request-Id:
      - 170e3c6f-8bf0-ac7a-a707-7fb7ffff52ca
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getSearchKeywordsRecommendation
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getSearchKeywordsRecommendationResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-16T14:37:12.830Z"],"keywords":["accordion"]}]}'
  recorded_at: Mon, 16 Mar 2020 14:37:12 GMT
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByCategory&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: '{"categoryId":"10181"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '120703000'
      X-Ebay-Soa-Request-Id:
      - 170e3c6f-b4f0-ac7a-a707-7fb7ffff52c9
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsByCategory
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsByCategoryResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-16T14:37:13.548Z"],"searchResult":[{"@count":"1","item":[{"itemId":["110510314407"],"title":["Mendini
        by Cecilio Premium Grade Closed Hole C Flute"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["10183"],"categoryName":["Flutes"]}],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Mendini-Cecilio-Premium-Grade-Closed-Hole-C-Flute-\/110510314407"],"paymentMethod":["VisaMC","AmEx","Discover"],"autoPay":["false"],"postalCode":["337**"],"location":["Clearwater,FL,USA"],"country":["US"],"shippingInfo":[{"shippingType":["Calculated"],"shipToLocations":["Worldwide"],"expeditedShipping":["false"],"oneDayShippingAvailable":["false"],"handlingTime":["15"]}],"sellingStatus":[{"currentPrice":[{"@currencyId":"USD","__value__":"50.0"}],"convertedCurrentPrice":[{"@currencyId":"USD","__value__":"50.0"}],"sellingState":["Active"],"timeLeft":["P21DT2H23M0S"]}],"listingInfo":[{"bestOfferEnabled":["false"],"buyItNowAvailable":["false"],"startTime":["2020-03-06T17:00:13.000Z"],"endTime":["2020-04-06T17:00:13.000Z"],"listingType":["FixedPrice"],"gift":["false"]}],"returnsAccepted":["true"],"condition":[{"conditionId":["3000"],"conditionDisplayName":["Used"]}],"isMultiVariationListing":["false"],"topRatedListing":["false"]}]}],"paginationOutput":[{"pageNumber":["1"],"entriesPerPage":["100"],"totalPages":["1"],"totalEntries":["1"]}],"itemSearchURL":["https:\/\/shop.sandbox.ebay.com\/10181\/i.html?_ddo=1&_ipg=100&_pgn=1"]}]}'
  recorded_at: Mon, 16 Mar 2020 14:37:13 GMT
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByKeywords&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: '{"keywords":"iphone"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '346082400'
      X-Ebay-Soa-Request-Id:
      - 170e3c6f-e1e0-ac7a-a707-7fb7ffff52c8
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsByKeywords
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsByKeywordsResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-16T14:37:14.486Z"],"searchResult":[{"@count":"73","item":[{"itemId":["110510331166"],"title":["Apple
        iPhone 3GS - 32GB - White (Cricket) A1303 (GSM)"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["177601"],"categoryName":["eBay
        Special Offer 1"]}],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Apple-iPhone-3GS-32GB-White-Cricket-A1303-GSM-\/110510331166"],"paymentMethod":["PayPal"],"autoPay":["true"],"postalCode":["277**"],"location":["Durham,NC,USA"],"country":["US"],"shippingInfo":[{"shippingServiceCost":[{"@currencyId":"USD","__value__":"15.0"}],"shippingType":["Flat"],"shipToLocations":["Worldwide"],"expeditedShipping":["true"],"oneDayShippingAvailable":["false"],"handlingTime":["2"]}],"sellingStatus":[{"currentPrice":[{"@currencyId":"USD","__value__":"56.99"}],"convertedCurrentPrice":[{"@currencyId":"USD","__value__":"56.99"}],"sellingState":["Active"],"timeLeft":["P25DT3H32M34S"]}],"listingInfo":[{"bestOfferEnabled":["true"],"buyItNowAvailable":["false"],"startTime":["2020-03-10T18:09:48.000Z"],"endTime":["2020-04-10T18:09:48.000Z"],"listingType":["FixedPrice"],"gift":["false"]}],"returnsAccepted":["true"],"isMultiVariationListing":["false"],"topRatedListing":["false"]},{"itemId":["110510360597"],"title":["Apple
        iPhone 6 Select Any Size and Color"],"globalId":["EBAY-US"],"subtitle":["8\/16\/64\/128\/256\/512G"],"primaryCategory":[{"categoryId":["9355"],"categoryName":["Cell
        Phones & Smartphones"]}],"galleryURL":["https:\/\/thumbs1.sandbox.ebaystatic.com\/pict\/04040_0.jpg"],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Apple-iPhone-6-Select-Any-Size-and-Color-\/110510360597?var=0"],"paymentMethod":["PayPal"],"autoPay":["false"],"postalCode":["727**"],"location":["Rogers,AR,USA"],"country":["US"],"shippingInfo":[{"shippingServiceCost":[{"@currencyId":"USD","__valu[...]
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=getHistograms&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: '{"categoryId":"11233"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '86465000'
      X-Ebay-Soa-Request-Id:
      - 170e3c70-2670-ac71-0643-0d83ffff933f
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getHistograms
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getHistogramsResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-16T14:37:15.332Z"],"categoryHistogramContainer":[{"categoryHistogram":[{"categoryId":["11233"],"categoryName":["Music"],"count":["9"],"childCategoryHistogram":[{"categoryId":["176985"],"categoryName":["Records"],"count":["5"]},{"categoryId":["176984"],"categoryName":["CDs"],"count":["3"]},{"categoryId":["618"],"categoryName":["Other
        Formats"],"count":["1"]}]}]}],"conditionHistogramContainer":[{"conditionHistogram":[{"condition":[{"conditionId":["1000"],"conditionDisplayName":["Brand
        New"]}],"count":["8"]},{"condition":[{"conditionId":["6000"],"conditionDisplayName":["Acceptable"]}],"count":["1"]}]}]}]}'
  recorded_at: Mon, 16 Mar 2020 14:37:15 GMT
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsAdvanced&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON&SECURITY-APPNAME=APP_ID
    body:
      encoding: UTF-8
      string: '{"keywords":"iphone"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '333853900'
      X-Ebay-Soa-Request-Id:
      - 170e3c70-5230-ac7a-a707-7fb7ffff52c7
      X-Ebay-Soa-Service-Version:
      - 1.13.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - findItemsAdvanced
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"findItemsAdvancedResponse":[{"ack":["Success"],"version":["1.13.0"],"timestamp":["2020-03-16T14:37:16.267Z"],"searchResult":[{"@count":"75","item":[{"itemId":["110510331166"],"title":["Apple
        iPhone 3GS - 32GB - White (Cricket) A1303 (GSM)"],"globalId":["EBAY-US"],"primaryCategory":[{"categoryId":["177601"],"categoryName":["eBay
        Special Offer 1"]}],"viewItemURL":["https:\/\/cgi.sandbox.ebay.com\/Apple-iPhone-3GS-32GB-White-Cricket-A1303-GSM-\/110510331166"],"paymentMethod":["PayPal"],"autoPay":["true"],"pos[...]
