---
http_interactions:
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/MerchandisingService?OPERATION-NAME=getMostWatchedItems&RESPONSE-DATA-FORMAT=JSON&RESPONSE-PAYLOAD&categoryId=267
    body:
      encoding: UTF-8
      string: ''
    headers:
      Ebay-Soa-Consumer-Id:
      - APP_ID
      X-Ebay-Soa-Response-Data-Format:
      - JSON
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Guid:
      - 170d51ca-4510-a0f1-70d2-18628b341cde
      Rlogid:
      - t6q%60eh9%3Fuk%60wcdl%2856%3A7275%2Busqdrrp%2Buk%60%2Bceb%7C%28dlh-170d51ca45a-0x19f
      X-Ebay-C-Request-Id:
      - ri=9HFhVFKR289B,rci=ec214a4d37b1ed10
      X-Ebay-C-Version:
      - 1.0.0
      X-Ebay-Client-Tls-Version:
      - 771, 10.68.114.61
      X-Ebay-Request-Id:
      - 170d51ca-4510-a0f1-70d2-18628b341cde!MerchandisingService!10.15.23.13!esbnewexsoaesb[!promo!slcreco-3192406.stratus.slc.ebay.com!r1reco[]
      X-Ebay-Soa-Global-Id:
      - ''
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - getMostWatchedItems
      X-Ebay-Soa-Service-Metrics:
      - '2452497700'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/services}MerchandisingService"
      X-Ebay-Soa-Service-Version:
      - '1.5'
      X-Ebay-Svc-Tracking-Data:
      - "<a>ul=en-US&nqc=AA**&bs=0&nqt=AA**&!_epec=7,6&uc=1</a>"
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-svcs
    body:
      encoding: UTF-8
      string: '{"getMostWatchedItemsResponse":{"ack":"Success","version":"1.0.0","timestamp":"2020-03-13T18:03:885.029Z","itemRecommendations":{"item":[{"itemId":"180978823313","title":"Childrens
        Books Leveled Readers Level A B C D PreK Kindergarten 1st Grade Lot 60","subtitle":"","viewItemURL":"https://www.ebay.com/itm/Childrens-Books-Leveled-Readers-Level-A-B-C-D-PreK-Kindergarten-1st-Grade-Lot-60/180978823313?_trkparms=mehot%3Dpp%26itm%3D180978823313%26pmt%3D1%26noa%3D1&_trksid=p0","globalId":"EBAY-US","timeLeft":"P7DT17H27M35S","primaryCategoryId":"267","primaryCategoryName":"Books","country":"US","imageURL":"https://i.ebayimg.com/images/g/6HIAAOSwotFbLSCr/s-l225.jpg","shippingType":"NotSpecified","buyItNowPrice":{"@currencyId":"USD","__value__":"25.89"},"shippingCost":{"@currencyId":"USD","__value__":"3.99"},"watchCount":"3121"},{"itemId":"352443609471","title":"The
        Lost Book of Herbal Remedies (paperback with color pictures)","subtitle":"","viewItemURL":"https://www.ebay.com/itm/The-Lost-Book-of-Herbal-Remedies-paperback-with-color-pictures/352443609471?_trkparms=mehot%3Dpp%26itm%3D352443609471%26pmt%3D1%26noa%3D1&_trksid=p0","globalId":"EBAY-US","timeLeft":"P13DT19H50M28S","primaryCategoryId":"267","primaryCategoryName":"Books","country":"US","imageURL":"https://i.ebayimg.com/images/g/ebIAAOSwcrJeU3q3/[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/MerchandisingService?CONSUMER-ID=APP_ID&GLOBAL-ID&OPERATION-NAME=getMostWatchedItems&RESPONSE-DATA-FORMAT=JSON&RESPONSE-PAYLOAD&categoryId=267
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Guid:
      - 170d520b-97d0-a9e0-86c1-d381f2fc1eb4
      Rlogid:
      - t6q%60eh9%3Ftilwcdl%[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/MerchandisingService?CONSUMER-ID=APP_ID&GLOBAL-ID&OPERATION-NAME=getRelatedCategoryItems&RESPONSE-DATA-FORMAT=JSON&RESPONSE-PAYLOAD&categoryId=267
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Guid:
      - 170d520f-7c00-aa48-9f20-e690eee92b76
      Rlogid:
      - t6q%60eh9%3Fuk%60wcdl%2852616%3E1%2Busqdrrp%2Buk%60%2Bceb%7C%28dlh-170d520f7cf-0x19a
      X-Ebay-C-Request-Id:
      - ri=SmLAJ4CPvljU,rci=77425718ff9c694f
      X-Ebay-C-Version:
      - 1.0.0
      X-Ebay-Client-Tls-Version:
      - 771, 88.98.232.251
      X-Ebay-Request-Id:
      - 170d520f-7c00-aa48-9f20-e690eee92b76![
      X-Ebay-Soa-Global-Id:
      - ''
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - getRelatedCategoryItems
      X-Ebay-Soa-Service-Metrics:
      - '2452497700'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/services}MerchandisingService"
      X-Ebay-Soa-Service-Version:
      - '1.5'
      X-Ebay-Svc-Tracking-Data:
      - "<a>ul=en-US&nqc=AA**&bs=0&nqt=AA**&!_epec=7,6&uc=1</a>"
    body:
      encoding: UTF-8
      string: '{"getRelatedCategoryItemsResponse":{"ack":"Success","version":"1.0.0","timestamp":"2020-03-13T18:03:530.012Z","itemRecommendations":{"item":[]}}}'
  recorded_at: Fri, 13 Mar 2020 18:21:12 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/MerchandisingService?CONSUMER-ID=APP_ID&GLOBAL-ID&OPERATION-NAME=getSimilarItems&RESPONSE-DATA-FORMAT=JSON&RESPONSE-PAYLOAD&itemId=333112555211
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Guid:
      - 170d5216-0d20-a48a-fbf4-6a54ad733ae9
      Rlogid:
      - t6q%60eh9%3Ftilwcdl%28roa%7Dt*w%60ut3542-170d52160d4-0x191
      X-Ebay-C-Request-Id:
      - ri=EMGZaq0Q0CkW,rci=02083cd1acc4d811
      X-Ebay-C-Version:
      - 1.0.0
      X-Ebay-Client-Tls-Version:
      - 771, 88.98.232.251
      X-Ebay-Request-Id:
      - 170d5216-0d20-a48a-fbf4-6a54ad733ae9![
      X-Ebay-Soa-Global-Id:
      - ''
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - getSimilarItems
      X-Ebay-Soa-Service-Metrics:
      - '2452497700'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/services}MerchandisingService"
      X-Ebay-Soa-Service-Version:
      - '1.5'
      X-Ebay-Svc-Tracking-Data:
      - "<a>ul=en-US&nqc=AA**&bs=0&nqt=AA**&!_epec=7,6&uc=1</a>"
    body:
      encoding: UTF-8
      string: '{"getSimilarItemsResponse":{"ack":"Success","version":"1.0.0","timestamp":"2020-03-13T18:03:509.039Z","itemRecommendations":{"item":[{"itemId":"254533105032","title":"My
        Struggle: Book Four by Knausgaard, Karl Ove","viewItemURL":"https://www.ebay.com/itm/My-Struggle-Book-Four-by-Knausgaard-Karl-Ove/254533105032?_trkparms=mehot%3Dnone%26itm%3D254533105032%26pmt%3D0%26noa%3D1&_trksid=p0","globalId":"EBAY-US","timeLeft":"P23DT22H35M33S","primaryCategoryId":"267","primaryCategoryName":"Books","country":"US","imageURL":"http://i.ebayimg.com/images/g/Se4AAOSw4E5eYoDr/s-l225.jpg","shippingType":"NotSpecified","buyItNowPrice":{"@currencyId":"USD","__value__":"7.86"},"shippingCos[...]
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/MerchandisingService?CONSUMER-ID=APP_ID&GLOBAL-ID&OPERATION-NAME=getVersion&RESPONSE-DATA-FORMAT=JSON&RESPONSE-PAYLOAD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Guid:
      - 170d5219-6a50-a0f1-7264-e78489ab0a8b
      Rlogid:
      - t6q%60eh9%3Fjqpwcdl%2853%3A4%3E%3E6%2Busqdrrp%2Bjqp%2Bceb%7C%28dlh-170d52196aa-0x194
      X-Ebay-C-Request-Id:
      - ri=J7nn%2BI2LowkK,rci=74ff7c40943b3e4c
      X-Ebay-C-Version:
      - 1.0.0
      X-Ebay-Client-Tls-Version:
      - 771, 10.18.131.60
      X-Ebay-Request-Id:
      - 170d5219-6a50-a0f1-7264-e78489ab0a8b!MerchandisingService!10.15.23.38!esbnewexsoaesb[!promo!lvsreco-3491895.stratus.lvs.ebay.com!r1reco[]
      X-Ebay-Soa-Global-Id:
      - ''
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - getVersion
      X-Ebay-Soa-Service-Metrics:
      - '2452497700'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/services}MerchandisingService"
      X-Ebay-Soa-Service-Version:
      - '1.5'
      X-Ebay-Svc-Tracking-Data:
      - "<a>ul=en-US&nqc=AA**&bs=0&nqt=AA**&!_epec=7,6&uc=1</a>"
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-svcs
    body:
      encoding: UTF-8
      string: '{"getVersionResponse":{"ack":"Success","timestamp":"2020-03-13T18:03:198.053Z","version":"2.0"}}'
  recorded_at: Fri, 13 Mar 2020 18:21:53 GMT
recorded_with: VCR 5.1.0
