---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/MerchandisingService?CONSUMER-ID=APP_ID&OPERATION-NAME=getMostWatchedItems&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON
    body:
      encoding: UTF-8
      string: '{"categoryId":"267"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '156430200'
      X-Ebay-Soa-Request-Id:
      - 170e3cf3-ca80-ac7a-b397-5e17fffde397
      X-Ebay-Soa-Service-Version:
      - 1.5.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getMostWatchedItems
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/services}MerchandisingService"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getMostWatchedItemsResponse":{"ack":"Success","version":"1.5.0","timestamp":"2020-03-16T14:46:14.611Z"}}'
  recorded_at: Mon, 16 Mar 2020 14:46:14 GMT
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/MerchandisingService?CONSUMER-ID=APP_ID&OPERATION-NAME=getRelatedCategoryItems&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON
    body:
      encoding: UTF-8
      string: '{"categoryId":"267"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '612965700'
      X-Ebay-Soa-Request-Id:
      - 170e3cf3-f940-ac7a-f281-09a1ffffcb83
      X-Ebay-Soa-Service-Version:
      - 1.5.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getRelatedCategoryItems
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/services}MerchandisingService"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getRelatedCategoryItemsResponse":{"ack":"Success","version":"1.5.0","timestamp":"2020-03-16T14:46:15.798Z"}}'
  recorded_at: Mon, 16 Mar 2020 14:46:15 GMT
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/MerchandisingService?CONSUMER-ID=APP_ID&OPERATION-NAME=getSimilarItems&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON
    body:
      encoding: UTF-8
      string: '{"itemId":"333112555211"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '189026600'
      X-Ebay-Soa-Request-Id:
      - 170e3cf4-4960-ac7a-b3d4-c754fffddb2a
      X-Ebay-Soa-Service-Version:
      - 1.5.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getSimilarItems
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/services}MerchandisingService"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getSimilarItemsResponse":{"ack":"Failure","errorMessage":{"error":[{"errorId":"10","domain":"Marketplace","severity":"Error","category":"Application","message":"Invalid
        item ID. Item does not exist or has ended more than two weeks ago.","subdomain":"Merchandising"}]},"version":"1.5.0","timestamp":"2020-03-16T14:46:16.657Z"}}'
  recorded_at: Mon, 16 Mar 2020 14:46:16 GMT
- request:
    method: post
    uri: https://svcs.sandbox.ebay.com/MerchandisingService?CONSUMER-ID=APP_ID&OPERATION-NAME=getVersion&REQUEST-DATA-FORMAT=JSON&RESPONSE-DATA-FORMAT=JSON
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Service-Metrics:
      - '10535800'
      X-Ebay-Soa-Request-Id:
      - 170e3cf4-7830-ac7a-f281-09a1ffffcb82
      X-Ebay-Soa-Service-Version:
      - 1.5.0
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Operation-Name:
      - getVersion
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/services}MerchandisingService"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getVersionResponse":{"ack":"Success","version":"1.5.0","timestamp":"2020-03-16T14:46:17.235Z"}}'
  recorded_at: Mon, 16 Mar 2020 14:46:17 GMT
recorded_with: VCR 5.1.0
