---
http_interactions:
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/marketplacecatalog/ProductService/v1?GLOBAL-ID=EBAY-US&OPERATION-NAME=getProductDetails&productDetailsRequest.dataset=DisplayableSearchResults&productDetailsRequest.productIdentifier.ePID=83414
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EBAY-SOA-SECURITY-APPNAME:
      - APP_ID
  response:
    status:
      code: 200
      message:
    headers:
      X-EBAY-SOA-SERVICE-METRICS:
      - '732529592'
      X-EBAY-SOA-REQUEST-ID:
      - 145ed48e-23c0-a471-d300-04c0ffffe55d!ProductService!10.71.29.48!v3apifindingsandboxcore[!CatalogService!10.71.29.78!v3mddssandboxcore[]]
      X-EBAY-SOA-SERVICE-VERSION:
      - 1.3.1
      X-EBAY-SOA-LOCALE-LIST:
      - en-US_US
      X-EBAY-SOA-MESSAGE-PROTOCOL:
      - NONE
      X-EBAY-SOA-RESPONSE-DATA-FORMAT:
      - XML
      X-EBAY-SOA-GLOBAL-ID:
      - EBAY-US
      X-EBAY-SOA-OPERATION-NAME:
      - getProductDetails
      X-EBAY-SOA-SERVICE-NAME:
      - "{https://www.ebay.com/marketplace/marketplacecatalog/v1/services}ProductService"
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><getProductDetailsResponse xmlns="https://www.ebay.com/marketplace/marketplacecatalog/v1/services"><ack>Success</ack><version>1.3.1</version><timestamp>2014-05-11T21:55:48.635Z</timestamp><product><productIdentifier><ePID>83414</ePID></productIdentifier><stockPhotoURL><thumbnail><value>https://i.ebayimg.com/00/$T2eC16F,!y8E9s2fjE4sBRY5q7ep6Q~~_0.JPG?set_id=89040003C1</value></thumbnail><standard><value>https://i.ebayimg.com/00/$T2eC16F,!y8E9s2fjE4sBRY5q7ep6Q~~_7.JPG?set_id=89040003C1</value></standard></stockPhotoURL><productDetails><propertyName>PRODUCT_FAMILY_ID</propertyName><value><number><value>1504161</value></number></value></productDetails><productDetails><propertyName>ISBN</propertyName><value><text><value>0231056699</value></text></value></productDetails><productDetails><propertyName>Publication
        Year</propertyName><value><text><value>19850000</value></text></value></productDetails><productDetails><propertyName>EAN</propertyName><value><text><value>9780231056694</value></text></value></productDetails><productDetails><propertyName>Author</propertyName><value><text><value>Gilles
        Deleuze</value></text></value></productDetails><productDetails><propertyName>CP_NAME</propertyName><value><text><value>Nietzsche
        and Philosophy by Gilles Deleuze (1985, Paperback)</value></text></value></productDetails><productDetails><propertyName>Format_Computed</propertyName><value><text><value>Trade
        Paper</value></text></value></productDetails><productStatus><excludeForeBaySelling>false</excludeForeBaySelling><excludeForeBayReviews>false</excludeForeBayReviews><excludeForHalfSelling>false</excludeForHalfSelling></productStatus><type>Member</type></product></getProductDetailsResponse>
  recorded_at: Sun, 11 May 2014 21:55:48 GMT
- request:
    method: get
    uri: https://svcs.sandbox.ebay.com/services/marketplacecatalog/ProductService/v1?GLOBAL-ID=EBAY-US&OPERATION-NAME=getProductDetails&RESPONSE-DATA-FORMAT=JSON&productDetailsRequest.dataset=DisplayableSearchResults&productDetailsRequest.productIdentifier.ePID=83414
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EBAY-SOA-SECURITY-APPNAME:
      - APP_ID
  response:
    status:
      code: 200
      message:
    headers:
      X-EBAY-SOA-SERVI[...]
