---
http_interactions:
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?UserID=shopspell&appid=APP_ID&callname=GetUserProfile&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2020 18:27:55 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dWtgNTEqMjcyPzIzMigyNSg2NjMoNTI9KDUwMzw/Mz02
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-13T18:27:55.927Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139","User":{"UserID":"shopspell","FeedbackPrivate":false,"FeedbackRatingStar":"YellowShooting","FeedbackScore":15890,"NewUser":false,"RegistrationDate":"2013-11-09T23:00:01.000Z","RegistrationSite":"US","Status":"Confirmed","SellerBusinessType":"Commercial","SellerItemsURL":"http://www.ebay.com/sch/shopspell/m.html?_nkw=&_armrs=1&_from=&_ipg","FeedbackDetailsURL":"http://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback&userid=shopspell&ssPageName=STRK:ME:UFS","PositiveFeedbackPercent":99.8}}'
  recorded_at: Fri, 13 Mar 2020 18:27:56 GMT
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?ItemID=333112555211&appid=APP_ID&callname=GetItemStatus&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2020 18:27:56 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dWtgNTEqMjcyPzI2MigyNSg2NjMoNTMyKD40Pz43OzU=
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-13T18:27:56.518Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139","Item":[{"ItemID":"333112555211","EndTime":"2020-04-11T20:15:10.000Z","BidCount":0,"ConvertedCurrentPrice":{"Value":13.0,"CurrencyID":"USD"},"ListingStatus":"Active","TimeLeft":"P29DT1H47M14S","GlobalShipping":true}]}'
  recorded_at: Fri, 13 Mar 2020 18:27:56 GMT
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?ItemID=333112555211&appid=APP_ID&callname=GetSingleItem&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2020 18:27:57 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dWtgNTEqMjcyPzIzMigyNSg2NjMoNTI9KDUwMzw/Mz02
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-13T18:27:57.177Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139","Item":{"ItemID":"333112555211","EndTime":"2020-04-11T20:15:10.000Z","ViewItemURLForNaturalSearch":"https://www.ebay.com/itm/My-Struggle-Book-Four-Karl-Ove-Knausgaard-2014-Hardcover-/333112555211","ListingType":"FixedPriceItem","Location":"Sarasota,
        Florida","GalleryURL":"https://thumbs4.ebaystatic.com/pict/3331125552118080_1.jpg","PictureURL":["https://i.ebayimg.com/00/s/MTYwMFgxMjAw/z/VIgAAOSwBCdchsEq/$_12.JPG?set_id=880000500F","https://i.ebayimg.com/00/s/MTYwMFgxMjAw/z/CakAAOSwPtBchsEt/$_12.JPG?set_id=880000500F","https://i.ebayimg.com/00/s/MTYwMFgxMjAw/z/~9gAAOSw0lhchsEv/$_12.JPG?set_id=880000500F"],"PrimaryCategoryID":"171228","PrimaryCategoryName":"Books:Fiction
        & Literature","BidCount":0,"ConvertedCurrentPrice":{"Value":13.0,"CurrencyID":"USD"},"ListingStatus":"Active","TimeLeft":"P29DT1H47M13S","Title":"My
        Struggle Book Four by Karl Ove Knausgaard (2014, Hardcover)","Country":"US","AutoPay":true,"ConditionID":1000,"ConditionDisplayName":"Brand
        New","GlobalShipping":true}}'
  recorded_at: Fri, 13 Mar 2020 18:27:57 GMT
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?CategoryID=267&appid=APP_ID&callname=GetCategoryInfo&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2020 18:27:57 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dWtgNTEqMjE2Nzo9MigyNSg2OjAoNTI0KDQ0Pz43OzU=
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-13T18:27:57.767Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139","CategoryArray":{"Category":[{"CategoryID":"267","CategoryLevel":1,"CategoryName":"Books","CategoryParentID":"-1","CategoryNamePath":"Books","CategoryIDPath":"267","LeafCategory":false}]},"CategoryCount":1,"UpdateTime":"2019-10-15T03:29:16.000Z","CategoryVersion":"121"}'
  recorded_at: Fri, 13 Mar 2020 18:27:57 GMT
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?DestinationCountryCode=GB&ItemID=333112555211&appid=APP_ID&callname=GetShippingCosts&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2020 18:27:58 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dWtgNTEqMjE2NzoyNCgyNSg2OjAoNjoxKDY0MTw/Mz02
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-13T18:27:58.673Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139","ShippingCostSummary":{"ShippingServiceName":"International
        Priority Shipping","ShippingServiceCost":{"Value":17.15,"CurrencyID":"USD"},"ShippingType":"Calculated","InsuranceOption":"NotOffered","ListedShippingServiceCost":{"Value":17.150000000000002,"CurrencyID":"USD"},"ImportCharge":{"Value":0.0,"CurrencyID":"USD"}}}'
  recorded_at: Fri, 13 Mar 2020 18:27:58 GMT
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?callname=GeteBayTime
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2020 18:27:59 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dWtgNTEqMTE1NDY8MCgyNSg1MzcoPzIrNzA1Pz43OzU=
      Content-Type:
      - text/xml;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-openapi
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <GeteBayTimeResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2020-03-13T18:27:59.254Z</Timestamp>\n
        \  <Ack>Failure</Ack>\n   <Errors>\n    <ShortMessage>Missing required application
        ID.</ShortMessage>\n    <LongMessage>Missing required application ID. Please
        specify as URL parameter or HTTP header.</LongMessage>\n    <ErrorCode>1.26</ErrorCode>\n
        \   <SeverityCode>Error</SeverityCode>\n    <ErrorClassification>RequestError</ErrorClassification>\n
        \  </Errors>\n   <Errors>\n    <ShortMessage>Missing required version.</ShortMessage>\n
        \   <LongMessage>Missing required version. Please specify as URL parameter
        or HTTP header.</LongMessage>\n    <ErrorCode>1.27</ErrorCode>\n    <SeverityCode>Error</SeverityCode>\n
        \   <ErrorClassification>RequestError</ErrorClassification>\n   </Errors>\n
        \  <Build>E1139_CORE_APILW_19143404_R1</Build>\n   <Version>1139</Version>\n
        \ </GeteBayTimeResponse>\n "
  recorded_at: Fri, 13 Mar 2020 18:27:59 GMT
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?ItemID=333112555211,322539683928&appid=APP_ID&callname=GetMultipleItems&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2020 18:27:59 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
 [...]
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?QueryKeywords=tolkien&appid=APP_ID&callname=FindProducts&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2020 18:28:00 GMT
      X-Ebay-Api-Build-Tag:
      - E1119_CORE_APILW2_19037571_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___dWtgNTEqMjcyPjIxNigyNSg2NjMoNTM2KDU0Pz43OzU=
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-13T18:28:00.581Z","Ack":"Success","Build":"E1119_CORE_APILW2_19037571_R1","Version":"1119","ApproximatePages":2186,"MoreResults":true,"PageNumber":1,"Product":[{"DetailsURL":"http://www.ebay.com/p/115031#ProductDetails","DisplayStockPhotos":true,"ProductID":[{"Value":"115031","Type":"Reference"},{"Value":"9780345339683","Type":"ISBN"},{"Value":"9780345339683","Type":"EAN"}],"ItemSpecifics":{"NameValueList":[{"Name":"Format","Value":["Paperback"]},{"Name":"Publication
        Year","Value":["1986"]},{"Name":"Author","Value":["J.R.R. Tolkien"]},{"Name":"Language","Value":["English"]}]},"StockPhotoURL":"https://i.ebayimg.com/images/g/xokAAOSwCU1YpPSB/s-l640.jpg","Title":"Pre-Lord
        of the Rings: The Hobbit : The Enchanting Prelude to the Lord of the Rings
        by J. R. R. Tolkien (1986, Paperback, Revised)"}],"TotalProducts":2186}'
  recorded_at: Fri, 13 Mar 2020 18:28:00 GMT
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?appid=APP_ID&callname=GeteBayTime&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2020 18:28:33 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dGlsZHw3MCg+MzUzMygyNSgwNis/Ni03MzU5PTY/Mw==
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-13T18:28:33.891Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139"}'
  recorded_at: Fri, 13 Mar 2020 18:28:33 GMT
recorded_with: VCR 5.1.0
