---
http_interactions:
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?CALLNAME=FindHalfProducts&QueryKeywords=ernesto+laclau
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EBAY-API-APP-ID:
      - APP_ID
      X-EBAY-API-VERSION:
      - 799
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Last-Modified:
      - Sun, 11 May 2014 21:37:30 GMT
      X-EBAY-API-BUILD-TAG:
      - E867_CORE_APILW2_16754878_R1
      X-EBAY-API-POOL-NAME:
      - ___cDRidW9rdDd1Zm1hZGh7Zml1Zg==
      X-EBAY-API-SERVER-NAME:
      - ___dm8ucnA3MyhjM2djMzJlKjc3LTI3KTE8KD41Pz43OzU=
      X-EBAY-ESB-GUID:
      - urn:uuid:F6312D3A17B1431B3A231610888800615421803067607
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <FindHalfProductsResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2014-05-11T21:37:30.214Z</Timestamp>\n
        \  <Ack>Success</Ack>\n   <Build>E867_CORE_APILW2_16754878_R1</Build>\n   <Version>867</Version>\n
        \  <PageNumber>1</PageNumber>\n   <ApproximatePages>42</ApproximatePages>\n
        \  <MoreResults>true</MoreResults>\n   <TotalProducts>42</TotalProducts>\n
        \  <Products>\n    <Product>\n     <Title>Hegemony and Socialist Strategy
        : Towards a Radical Democratic Politics by Ernesto Laclau and Chantal Mouffe
        (1985, Paperback)</Title>\n     <DetailsURL>https://syicatalogs.sandbox.ebay.com/ws/eBayISAPI.dll?PageSyiProductDetails&amp;IncludeAttributes=1&amp;ShowAttributesTable=1&amp;ProductMementoString=116501:2:1055:1801344777:636461977:f037f5013398147917ef7356f3f28683:1:1:1:411300</DetailsURL>\n
        \    <StockPhotoURL>https://i.ebayimg.com/00/$T2eC16dHJG8E9nyfpmrQBRVzID0nGw~~_6.JPG?set_id=89040003C1</StockPhotoURL>\n
        \    <DisplayStockPhotos>true</DisplayStockPhotos>\n     <ItemCount>0</ItemCount>\n
        \    <ProductID type=\"Reference\">308707</ProductID>\n     <ProductID type=\"ISBN\">086091769X</ProductID>\n
        \    <ProductID type=\"ISBN\">9780860917694</ProductID>\n     <DomainName>Textbooks,
        Education</DomainName>\n     <ItemSpecifics>\n      <NameValueList>\n       <Name>Publisher</Name>\n
        \      <Value>Verso Books</Value>\n      </NameValueList>\n      <NameValueList>\n
        \      <Name>Author</Name>\n       <Value>Chantal Mouffe</Value>\n       <Value>Ernesto
        Laclau</Value>\n      </NameValueList>\n      <NameValueList>\n       <Name>Title</Name>\n
        \      <Value>Hegemony and Socialist Strategy : Towards a Radical Democratic
        Politics by Ernesto Laclau and Chantal Mouffe (1985, Paperback)</Value>\n
        \     </NameValueList>\n      <NameValueList>\n       <Name>Language</Name>\n
        \      <Value>English</Value>\n      </NameValueList>\n     </ItemSpecifics>\n
        \    <ReviewCount>0</ReviewCount>\n     <MinPrice currencyID=\"USD\">5.08</MinPrice>\n
        \   </Product>\n   </Products>\n   <ProductSearchURL>https://search.half.sandbox.ebay.com/ernesto-laclau</ProductSearchURL>\n
        \ </FindHalfProductsResponse>\n "
  recorded_at: Sun, 11 May 2014 21:37:29 GMT
- request:
    method: get
    uri: https://open.api.sandbox.ebay.com/shopping?CALLNAME=FindHalfProducts&QueryKeywords=ernesto+laclau&RESPONSEENCODING=JSON
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EBAY-API-APP-ID:
      - APP_ID
      X-EBAY-API-VERSION:
      - 799
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Last-Modified:
      - Sun, 11 May 2014 21:37:30 GMT
      X-EBAY-API-BUIL[...]
