---
http_interactions:
- request:
    method: post
    uri: https://open.api.sandbox.ebay.com/shopping?appid=APP_ID&callname=GetSingleItem&requestencoding=JSON&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: '{"ItemID":"333112555211"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2020 15:13:09 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dGlsZHw3MCg+MzU1MigyNSgxOys3NzorNz87Pz43OzU=
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-16T15:13:09.454Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139","Item":{"ItemID":"333112555211","EndTime":"2020-04-11T20:15:10.000Z","ViewItemURLForNaturalSearch":"https://www.ebay.com/itm/My-Struggle-Book-Four-Karl-Ove-Knausgaard-2014-Hardcover-/333112555211","ListingType":"FixedPriceItem","Location":"Sarasota,
        Florida","GalleryURL":"https://thumbs4.ebaystatic.com/pict/3331125552118080_1.jpg","PictureURL":["https://i.ebayimg.com/00/s/MTYwMFgxMjAw/z/VIgAAOSwBCdchsEq/$_12.JPG?set_id=880000500F","https://i.ebayimg.com/00/s/MTYwMFgxMjAw/z/CakAAOSwPtBchsEt/$_12.JPG?set_id=880000500F","https://i.ebayimg.com/00/s/MTYwMFgxMjAw/z/~9gAAOSw0lhchsEv/$_12.JPG?set_id=880000500F"],"PrimaryCategoryID":"171228","PrimaryCategoryName":"Books:Fiction
        & Literature","BidCount":0,"ConvertedCurrentPrice":{"Value":13.0,"CurrencyID":"USD"},"ListingStatus":"Active","TimeLeft":"P26DT5H2M1S","Title":"My
        Struggle Book Four by Karl Ove Knausgaard (2014, Hardcover)","Country":"US","AutoPay":true,"ConditionID":1000,"ConditionDisplayName":"Brand
        New","GlobalShipping":true}}'
  recorded_at: Mon, 16 Mar 2020 15:13:09 GMT
- request:
    method: post
    uri: https://open.api.sandbox.ebay.com/shopping?appid=APP_ID&callname=GeteBayTime&requestencoding=JSON&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2020 15:13:11 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dWtgNTEqMjcyPzI2MSgyNSg2NjMoNTI3KDU3Pz43OzU=
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-SLCAZ01-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-16T15:13:11.173Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139"}'
  recorded_at: Mon, 16 Mar 2020 15:13:11 GMT
- request:
    method: post
    uri: https://open.api.sandbox.ebay.com/shopping?appid=APP_ID&callname=FindProducts&requestencoding=JSON&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: '{"QueryKeywords":"tolkien"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2020 15:13:11 GMT
      X-Ebay-Api-Build-Tag:
      - E1119_CORE_APILW2_19037571_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___dGlsZHw3MigxMDo8NzEsNDYpNDcoNjY8KDM7Pz43OzU=
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-16T15:13:11.894Z","Ack":"Success","Build":"E1119_CORE_APILW2_19037571_R1","Version":"1119","ApproximatePages":2186,"MoreResults":true,"PageNumber":1,"Product":[{"DetailsURL":"http://www.ebay.com/p/115031#ProductDetails","DisplayStockPhotos":true,"ProductID":[{"Value":"115031","Type":"Reference"},{"Value":"9780345339683","Type":"ISBN"},{"Value":"9780345339683","Type":"EAN"}],"ItemSpecifics":{"NameValueList":[{"Name":"Format","Value":["Paperback"]},{"Name":"Publication
        Year","Value":["1986"]},{"Name":"Author","Value":["J.R.R. Tolkien"]},{"Name":"Language","Value":["English"]}]},"StockPhotoURL":"https://i.ebayimg.com/images/g/xokAAOSwCU1YpPSB/s-l640.jpg","Title":"Pre-Lord
        of the Rings: The Hobbit : The Enchanting Prelude to the Lord of the Rings
        by J. R. R. Tolkien (1986, Paperback, Revised)"}],"TotalProducts":2186}'
  recorded_at: Mon, 16 Mar 2020 15:13:11 GMT
- request:
    method: post
    uri: https://open.api.sandbox.ebay.com/shopping?appid=APP_ID&callname=GetUserProfile&requestencoding=JSON&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: '{"UserID":"shopspell"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2020 15:13:12 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dGlsZHw3MSgwPzI8NjcsNDYpMTQ3KTA9KDUwPTw/Mz02
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-16T15:13:12.469Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139","User":{"UserID":"shopspell","FeedbackPrivate":false,"FeedbackRatingStar":"YellowShooting","FeedbackScore":15906,"NewUser":false,"RegistrationDate":"2013-11-09T23:00:01.000Z","RegistrationSite":"US","Status":"Confirmed","SellerBusinessType":"Commercial","SellerItemsURL":"http://www.ebay.com/sch/shopspell/m.html?_nkw=&_armrs=1&_from=&_ipg","FeedbackDetailsURL":"http://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback&userid=shopspell&ssPageName=STRK:ME:UFS","PositiveFeedbackPercent":99.8}}'
  recorded_at: Mon, 16 Mar 2020 15:13:12 GMT
- request:
    method: post
    uri: https://open.api.sandbox.ebay.com/shopping?appid=APP_ID&callname=GetCategoryInfo&requestencoding=JSON&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: '{"CategoryID":"267"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2020 15:13:13 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dGlsZHw3MSgwPzI9PjEsNDYpNDIoMC08PD8zPTY=
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-16T15:13:13.049Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139","CategoryArray":{"Category":[{"CategoryID":"267","CategoryLevel":1,"CategoryName":"Books","CategoryParentID":"-1","CategoryNamePath":"Books","CategoryIDPath":"267","LeafCategory":false}]},"CategoryCount":1,"UpdateTime":"2019-10-15T03:29:16.000Z","CategoryVersion":"121"}'
  recorded_at: Mon, 16 Mar 2020 15:13:13 GMT
- request:
    method: post
    uri: https://open.api.sandbox.ebay.com/shopping?appid=APP_ID&callname=GetShippingCosts&requestencoding=JSON&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: '{"DestinationCountryCode":"GB","ItemID":"333112555211"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2020 15:13:14 GMT
      X-Ebay-Api-Build-Tag:
      - E1139_CORE_APILW_19143404_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dGlsZHw3Mig/NDMzMTAsNDYpND0oNjAzKDYwMjw/Mz02
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-RNOAZ03-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-03-16T15:13:14.580Z","Ack":"Success","Build":"E1139_CORE_APILW_19143404_R1","Version":"1139","ShippingCostSummary":{"ShippingServiceName":"International
        Priority Shipping","ShippingServiceCost":{"Value":17.15,"CurrencyID":"USD"},"ShippingType":"Calculated","InsuranceOption":"NotOffered","ListedShippingServiceCost":{"Value":17.150000000000002,"CurrencyID":"USD"},"ImportCharge":{"Value":0.0,"CurrencyID":"USD"}}}'
  recorded_at: Mon, 16 Mar 2020 15:13:14 GMT
- request:
    method: post
    uri: https://open.api.sandbox.ebay.com/shopping?appid=APP_ID&callname=GetItemStatus&requestencoding=JSON&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: '{"ItemID":["291914595965"]}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 19 May 2020 17:20:32 GMT
      X-Ebay-Api-Build-Tag:
      - E1141_CORE_APILW_19170841_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___anFwZHw3Mig/PjczPzAsNDYpMjw/KTc3KDU3Pz43OzU=
      Content-Type:
      - text/plain;charset=utf-8
      X-Ebay-Pop-Id:
      - UFES2-LVSAZ01-openapi
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2020-05-19T17:20:32.001Z","Ack":"Success","Build":"E1141_CORE_APILW_19170841_R1","Version":"1141","Item":[{"ItemID":"291914595965","EndTime":"2020-06-18T04:15:58.000Z","BidCount":0,"ConvertedCurrentPrice":{"Value":4.67,"CurrencyID":"USD"},"ListingStatus":"Active","TimeLeft":"P29DT10H55M26S"}]}'
  recorded_at: Tue, 19 May 2020 17:20:32 GMT
- request:
    method: post
    uri: https://open.api.sandbox.ebay.com/shopping?appid=APP_ID&callname=GetMultipleItems&requestencoding=JSON&responseencoding=JSON&version=1119
    body:
      encoding: UTF-8
      string: '{"ItemID":["291914595965","141963466041"]}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 19 May 2020 17:20:32 GMT
      X-Ebay-Api-Build-Tag:
      - E1141_CORE_APILW_19170841_R1
      X-Ebay-Api-Pool-Name[...]
